
body {
  margin: 0;
  padding: 0;
  border: 10px solid #333; 
  background-color: #f3d3b1; 
  box-sizing: border-box;
}

@media (max-width: 460px) {
  body {
      background-color: white; 
  }
}


/* General styling for each section */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(246, 232, 219);
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 10px; /* Optional: rounded corners for sections */
}

/* Specific section styles for different colors and outlines */
.section-1 {
  background-color: #FF5733; /* Red */
  border: 5px solid #C70039;  /* Dark Red */
}

.section-2 {
  background-color: #33FF57; /* Green */
  border: 5px solid #28A745;  /* Dark Green */
}

.section-3 {
  background-color: #3357FF; /* Blue */
  border: 5px solid #0069D9;  /* Dark Blue */
}

.section-4 {
  background-color: #F39C12; /* Yellow */
  border: 5px solid #F1C40F;  /* Dark Yellow */
}

.section-5 {
  background-color: #9B59B6; /* Purple */
  border: 5px solid #8E44AD;  /* Dark Purple */
}
